<!doctype html>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js' type='text/javascript'></script>
<script type="text/javascript" src="../static/openseadragon.js"></script>
<script type="text/javascript" src="../static/openseadragon-scalebar.js"></script>
<script type="text/javascript" src="../static/openseadragon-fabricjs-overlay.js"></script>
<script type="text/javascript" src="../static/GUI.js"></script>
<script type="text/javascript" src="../static/fabric.js"></script>

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<link rel="stylesheet" type="text/css" media="all" href="../static/style.css">

<body>
        <header>
            <ul id="headerList">
                <li><div id="menu" class="dropdown">
                        <button id="menuicon" class="material-icons menu">dehaze</button>
                        <div class="dropdown-content">
                            <a href="#">Add new scan</a>
                            <a href="#">Thanks to the devs</a>
                            <a href="#">Dump to xml</a>
                        </div>
                    </div>
                    <li><button id="searchicon" class="material-icons search">search</button></li>
                    <li><form>
                        <input id="searchField" type="text" name="search" placeholder="Search">
                    </form></li>
                </li>
                <li id="fileLi"><div id="filename"></div></li>
                <li id="infoButton">INFO</li>
            </ul>
        </header>

        <div id="imageExplorer">
            <ul id="theList">
            {% for key, values in images.items() %}
            <label>THIS IS BIG BIG UP THERE FOLDER called {{ key }}</label>
                {% for folder, fileList in values.items() %}
                    <li id="liTags">
                        <div>
                        <button id="thomasesbutton">{{ folder }}</button>
                            <div class="fileListDiv">
                                {% for file in fileList %}
                                    {% set splitFilename = file.split(" ") %}
                                    <button class="imageLinks" id="{{ folder }}/{{ splitFilename[0] }}">{{ splitFilename[0] }}</button>
                                {% endfor %}
                            </div>
                        </div>
                    </li>
                {% endfor %}
            {% endfor %}
            </ul>
        </div>

        <div id="display"></div>
        <div id="infoField">
            <dl id="infoFieldList">
                <dt>InfoHeader</dt>
                <dd>InfoText</dd>
                <dt>InfoHeader</dt>
                <dd>InfoText</dd>
                <dt>InfoHeader</dt>
                <dd>InfoText</dd>
                <dt>InfoHeader</dt>
                <dd>InfoText</dd>
            </dl>
        </div>

        
        <div id="footer">
            <li><button id="currentZoomLevel">365.20x</button></li>
            <li><button id="zoom4x">4x</button></li>
            <li><button id="zoom10x">10x</button></li>
            <li><button id="zoom20x">20x</button></li>
            <li><button id="zoom40x">40x</button></li>
            <li><button id="H281">H281</button></li>
            <li><button id="H281test">H281test</button></li>
        </div>
        </body>
