<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RegisterTest</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/style.css">
</head>
<body>
    <h1>Register form:</h1>
<form method="POST">
  Username:<br>
  <input type="text" name="username" placeholder="username">
  <br>
  Password:<br>
  <input type="password" name="password" placeholder="password">
  <br><br>
  <input type="submit" name="submitLogin" value="Submit">
</form> </body>
</html>