<!doctype html>
<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'
	type='text/javascript'></script>
<script type="text/javascript" src="../static/openseadragon.js"></script>
<script type="text/javascript" src="../static/GUI.js"></script>
<title>DeepZoom demo page</title>

<button id="testButton">H281</button>
<div id="display" style="width: 800px; height: 500px;"></div>
<button id="zoom4x">4X</button>
<button id="zoom10x">10x</button>
<button id="zoom20x">20x</button>
<button id="zoom40x">40x</button>
<div id="currentZoomLevel"></div>



